# Vercel needs to be able to update the lockfile during install
prefer-frozen-lockfile=false
enable-pre-post-scripts=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
